# Переменные средЫ

DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=library_db
DATABASE_USER=admin
DATABASE_PASSWORD=1qaz!QAZ

MINIO_ACCESS_KEY=hSsHCt8kIFbcpHVSpgmR
MINIO_SECRET_KEY=UQ4bUEHyVZjw4kvX46bbShZHAdeS3WEGmtNCtnS3
MINIO_ENDPOINT=http://127.0.0.1:9000

ELASTICSEARCH_HOST=localhost
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_PASSWORD=1qaz@WSX

SECRET_KEY=00aee27ad85a26dced382fb1c75dd57b331671e22dac0ede741439501c7e4de3

ALLOWED_ORIGINS=["http://localhost:5173","http://localhost:4000"]