alembic==1.17.2
asyncpg==0.31.0
bcrypt==4.0.1
boto3==1.42.2
casbin==1.43.0
casbin_sqlalchemy_adapter==1.4.0
elasticsearch==9.2.0
fastapi==0.123.0
httpx==0.28.1
passlib[bcrypt] 
pillow==12.0.0
PyJWT==2.10.1
PyMuPDF==1.26.7
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic[email]
python-jose==3.5.0
python-jose[cryptography]
python-dotenv==1.2.1
python-magic==0.4.27
python-multipart==0.0.20
psycopg2==2.9.12
redis==7.4.0
rq==2.8.0
sqlalchemy==2.0.45
uvicorn==0.38.0